body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.progress-container {
  margin-bottom: 20px;
  position: relative;
}

.progress-block {
  position: relative;
  width: 120px;
  height: 120px;
}

.progress-ring__circle {
  stroke-dasharray: 339.29;
  stroke-dashoffset: 339.29;
  transition: stroke-dashoffset 0.5s ease;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.value-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.progress-value-input {
  width: 60px;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  background-color: #f1f1f1;
  border-radius: 34px;
  color: black;
  font-weight: bold;
  outline: none;
  margin-top: 5px;
}

.inputBlock {
  margin-right: 10px;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.animateBlock {
  margin-right: 10px
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2b18d2;
}

input:checked+.slider:before {
  transform: translateX(20px);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.hideBlock {
  margin-right: 10px;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}

/* Адаптивная верстка под планшеты */
@media (min-width: 720px) and (max-width: 1500px) {
  body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 25%;
    overflow: hidden;
  }
}